@model IEnumerable<Category>

<h4 class="my-4">Categories</h4>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a asp-action="Index" 
           asp-route-orderBy="Category" 
           asp-route-value="@item.Id"  
           class="list-group-item">@item.Name</a>
    }
</div>