@model Show
@{
    ViewData["Title"] = "Add Show";
}

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <form asp-action="Add" asp-controller="Show" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Stars">Stars</label>
                <input asp-for="Stars" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Stars">Image</label>
                <input name="file" id="file" class="form-control" type="file">
            </div>
            <div class="form-group">
                <label asp-for="Year">Year</label>
                <input asp-for="Year" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="CategoryId">Select Category</label>
                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GenreId">Select Genre</label>
                <select class="form-control" asp-for="GenreId" asp-items="ViewBag.Genres">
                </select>
            </div>
            <input type="submit" class="btn btn-success" value="Add"/>
        </form>
    </div>
